<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
    <title>Weather Now</title>
</head>
<body class="bg-[#02012C] text-white h-screen">
    <div class="max-w-7xl mx-auto px-[16px] pt-[24px] pb-[80px] sm:px-[24px] lg:px-8">
        <!-- Navbar -->
        <nav>
            <div class="h-[43px] mb-[16px] md:mb-[64px]">
                <div class="flex items-center justify-between">
                    <!-- Logo -->
                    <div class="flex-shrink-0">
                        <a href="#"><img src="{{ url_for('static', filename='./images/logo.svg')}}" alt="logo"></a>
                    </div>
                    <!-- Units Dropdown -->
                    <el-dropdown class="inline-block">
                        <button class="inline-flex w-full justify-center gap-x-2 rounded-md bg-[#262540] py-2 px-4 inset-ring-1 inset-ring-white/5 hover:bg-white/20">
                            <img src="{{ url_for('static', filename='./images/icon-units.svg')}}" alt="units">
                            Units
                            <img src="{{ url_for('static', filename='./images/icon-dropdown.svg')}}" alt="units">
                        </button>

                        <el-menu anchor="bottom end" popover class="w-56 px-[8px] py-[6px] text-white origin-top-right divide-y divide-white/10 rounded-[12px] bg-[#262540] outline-1 -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
                            <div class="py-1 *:px-[8px] *:py-[10px] space-y-[10px] *:block">
                                <h3 class="text-preset7">Switch to Imperial</h3>
                                <span class="text-preset8 text-[#ACACB7]">Temperature</span>
                                <a href="#" class="text-preset7 hover:rounded-[8px] hover:bg-[#302F4A]">Celsius (°C)</a>
                                <a href="#" class="text-preset7 hover:rounded-[8px] hover:bg-[#302F4A]">Fahrenheit (°F)</a>
                            </div>
                            <div class="py-1 *:px-[8px] *:py-[10px] space-y-[10px] *:block">
                                <span class="text-preset8 text-[#ACACB7]">Wind Speed</span>
                                <a href="#" class="text-preset7 hover:rounded-[8px] hover:bg-[#302F4A]">km/h</a>
                                <a href="#" class="text-preset7 hover:rounded-[8px] hover:bg-[#302F4A]">mph</a>
                            </div>
                            <div class="py-1 *:px-[8px] *:py-[10px] space-y-[10px] *:block">
                                <span class="text-preset8 text-[#ACACB7]">Precipitation</span>
                                <a href="#" class="text-preset7 hover:rounded-[8px] hover:bg-[#302F4A]">Millimeters (mm)</a>
                                <a href="#" class="text-preset7 hover:rounded-[8px] hover:bg-[#302F4A]">Inches (in)</a>
                            </div>
                        </el-menu>
                    </el-dropdown>
                </div>
            </div>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>