{% extends "base.html" %}

{% from "macros/forms.html" import search_input %}

{% block content %}
<div class="text-center space-y-[24px]">
    <h3 class="text-preset2 mx-[48px] md:m-[64px]">How’s the sky looking today?</h3>

    <!-- Search Bar -->
    <div>
        <div class="flex flex-col items-center justify-center">
            <form action="{{ url_for('home')}}" method="post" class="grid grid-cols-1 w-full lg:w-auto gap-[12px] md:grid-cols-[4fr_1fr] lg:max-w-[656px] items-center justify-center mx-auto md:space-x-[16px]">   
                <label for="city_name" class="sr-only">Search</label>
                <div class="relative">

                    <div class="flex items-center bg-[#262540] text-[#D4D3D9] rounded-lg text-preset5-med  pl-3 outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600 dark:bg-white/5 dark:outline-gray-600 dark:has-[input:focus-within]:outline-indigo-500">
                        <div class="shrink-0 select-none ps-2"><img src="{{ url_for('static', filename='./images/icon-search.svg') }}" alt=""></div>
                        <input type="text" id="city_name" name="city_name" placeholder="Search for a place..." class="block min-w-0 grow py-1.5 pr-3 pl-1 ps-12 pl-[12px] py-[16px] focus:outline-none" />
                        <button id="clearBtn" onclick="clearSearch()" class="grid shrink-0 grid-cols-1 focus-within:relative text-preset6 pe-4">x</button>
                    </div>

                    <!-- Search related -->
                    <div id="results" class="hidden mt-[8px] absolute top-full left-0 w-full shadow-lg z-50 md:max-w-[656px] px-[8px] py-[6px] text-white origin-top-right rounded-[12px] bg-[#262540] outline-1 -outline-offset-1 outline-white/10 transition transition-discrete"></div>
                </div>
                
                <button type="submit" class="px-[24px] py-[16px] text-sm bg-[#4658D9] rounded-[12px] cursor-pointer hover:bg-[#4658D9] hover:outline-2 hover:outline-offset-2 hover:outline-[#4658D9] focus:bg-[#4658D9]">
                    <span class="text-preset5-med">Search</span>
                </button>
            </form>
        </div>
    </div>
    
    <div class="text-start grid grid-cols-1 lg:grid-cols-[2fr_1fr] grid-rows-1 gap-[32px]">
        <div class="grid grid-cols-1 auto-rows-min gap-[32px] lg:gap-[50px] *:rounded-[20px]">
            <div class="min-h-[286px] bg-cover bg-center
                    bg-[url('{{ url_for('static', filename='./images/bg-today-small.svg')}}')]
                    lg:bg-[url('{{ url_for('static', filename='./images/bg-today-large.svg')}}')] px-[24px] py-[80px]">
                <div class="flex flex-col text-center md:flex-row items-center justify-between space-y-[12px]">
                    <div class="space-y-[12px]">
                        <h3 class="text-preset4">Chicago, Illinois</h3>
                        <span class="text-preset6">Sunday, Sep 14, 2025</span>
                    </div>
                    <div class="flex flex-row items-center justify-center">
                        <img class="w-[120px]" src="{{ url_for('static', filename='./images/icon-sunny.webp') }}" alt="">
                        <h1 class="text-preset1">20</h1>
                    </div>
                </div>
            </div>
            <div class="self-start">
                <div class="grid grid-cols-2 lg:grid-cols-4 gap-[24px] *:bg-[#262540] *:p-[20px] *:rounded-[20px]">
                    <div class="space-y-[24px]">
                        <p class="text-preset6">Feels Like</p>
                        <span class="text-preset3">test</span>
                    </div>
                    <div class="space-y-[24px]">
                        <p class="text-preset6">Humidity</p>
                        <span class="text-preset3">test</span>
                    </div>
                    <div class="space-y-[24px]">
                        <p class="text-preset6">Wind</p>
                        <span class="text-preset3">test</span>
                    </div>
                    <div class="space-y-[24px]">
                        <p class="text-preset6">Precipitation</p>
                        <span class="text-preset3">test</span>
                    </div>
                </div>
            </div>

            <!-- Daily Forecast -->
            <div class="self-start">
                <h3 class="text-preset5 mb-[20px]">Daily forecast</h3>
                <div class="text-center grid grid-cols-3 md:grid-cols-7 gap-[16px] *:bg-[#262540] *:px-[10px] *:py-[16px] *:rounded-[20px]">
                    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                    <div>
                        <span class="text-preset6">{{ day[:3] }}</span>
                        <img src="{{ url_for('static', filename='./images/icon-drizzle.webp') }}" alt="">
                        <div class="flex justify-between">
                            <span class="text-preset7">20</span>
                            <span class="text-preset7">14</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="rounded-[20px] bg-[#262540] p-[20px] space-y-[16px]">
            <!-- Hourly Forecast -->
            <div class="flex items-center justify-between">
                <h3 class="text-preset5">Hourly forecast</h3>
                <!-- Days Dropdown -->
                <el-dropdown class="inline-block">
                    <button class="inline-flex w-full justify-center gap-x-2 rounded-md bg-[#3C3B5E] py-2 px-4 inset-ring-1 inset-ring-white/5 hover:bg-white/20">
                        <span class="text-preset7">Day</span>
                        <img src="{{ url_for('static', filename='./images/icon-dropdown.svg')}}" alt="day">
                    </button>

                    <el-menu anchor="bottom end" popover class="w-56 px-[8px] py-[6px] text-white origin-top-right rounded-[12px] bg-[#262540] outline-1 -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
                        {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                            <a href="#" class="block text-preset7 px-[8px] py-[10px] space-y-[10px] hover:rounded-[8px] hover:bg-[#302F4A]">{{ day }}</a>
                        {% endfor %}
                    </el-menu>
                </el-dropdown>
            </div>
            <div class="grid grid-cols-1 grid-rows-8 gap-[16px] *:bg-[#302F4A] *:w-full *:rounded-[8px] *:p-[10px]">
                {% for hour in range(8) %}
                <div class="flex flex-row items-center justify-between">
                    <div class="flex flex-row items-center justify-between">
                        <img class="w-[40px]" src="{{ url_for('static', filename='./images/icon-drizzle.webp') }}" alt="">
                        <span class="text-preset5-med">3 PM</span>
                    </div>
                    <span class="text-preset7">20</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    const cityName = document.getElementById("city_name");
    const resultsDiv = document.getElementById("results");
    const clearBtn = document.getElementById("clearBtn");

    function toggleClearBtn() {
        clearBtn.classList.toggle("hidden");
    }

    function clearSearch() {
        toggleClearBtn();
        cityName.value = "";
        cityName.focus();
    }

    cityName.addEventListener("input", async () => {
        const query = cityName.value;
        if (query.length === 0) {
            resultsDiv.classList.toggle("hidden");
            resultsDiv.innerHTML = "";
            return;
        }

        const response = await fetch(`/search?q=${query}`);

        if (response) {
            const results = await response.json();
            console.log(results)
            resultsDiv.classList.toggle("hidden");
            
            resultsDiv.innerHTML = "";
            
            if (results['results']) {
                results['results'].forEach(item => {
                    const anchor = document.createElement("div");
                    anchor.textContent = item['name'];
                    anchor.className = "block text-start text-preset7 px-[8px] py-[10px] space-y-[10px] hover:rounded-[8px] hover:bg-[#302F4A]";
                    anchor.addEventListener('click', () => {
                        cityName.value = item['name'];
                        resultsDiv.innerHTML = ''; // Hide suggestions after selection
                        resultsDiv.classList.toggle("hidden");
                    });
                    resultsDiv.appendChild(anchor);
                })
            }
        }
        else {
            console.log('No results found.')
        }

    });
</script>
{% endblock %}